.education__container {
  margin-bottom: 40px;
}

.education__containerHeader > h1 {
  font-size: 40px;
  font-weight: 200;
}

.education__containerBody > a {
  text-decoration: none;
  color: blue;
  font-size: 30px;
}

.education__containerBody > a:hover {
  text-decoration: underline;
}
