.work__projectCard {
  display: flex;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.work__projectCardLeft {
  flex: 0.9;
}

.work__projectCardLeft > h5 {
  font-size: 30px;
  color: blue;
  font-weight: 100;
}

.work__projectCardRight {
  flex: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  font-size: 20px;
  border-radius: 5px;
  margin: 7px 0;
  cursor: pointer;
  transition: 200ms background-color ease-in-out;
}

.work__projectCardRight:hover {
  background-color: rgb(3, 3, 190);
}

.work__projectCardRight > a {
  text-decoration: none;
  color: white;
}
